[Unit]
Description=RETRORANGEPI CONTROLLER
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /opt/retropie/DRIVER_NAME.py  > /home/pi/DRIVER_NAME.log 2>&1

[Install]
WantedBy=multi-user.target
